# === Auth Service ===
AUTH_DB_NAME=auth_db
AUTH_DB_USER=auth
AUTH_DB_PASSWORD=change_me

# === Finance Service ===
FINANCE_DB_NAME=finance_db
FINANCE_DB_USER=finance
FINANCE_DB_PASSWORD=change_me

# === Report Service ===
REPORT_DB_NAME=report_db
REPORT_DB_USER=report
REPORT_DB_PASSWORD=change_me

# === JWT ===
# Сгенерируй свой через: openssl rand -base64 32
JWT_SECRET=change_me_to_a_random_base64_string
JWT_EXPIRATION=3600000